BOT_TOKEN=
OPERATOR_BOT_TOKEN=
OPERATOR_IDS=
MINI_APP_URL=
BITRIX24_WEBHOOK_URL=
DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/green_card
REDIS_URL=redis://redis:6379/0
ADMIN_API_TOKEN=
DEFAULT_LANGUAGE=ru
